body{
    font-family: 'Special Elite', cursive;
    background: burlywood;
}

.header_div{
    background-color:white ;
    color: darkblue;
}

.header_div p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande';
    color: darkgray; 
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}

.main_div button{
    font-family: monospace;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}

.copy_right_footer{
    position: fixed;
   color: black;
   bottom: 0px;
   font-size: 18px;
   width: 100%;
   line-height: 3;
   text-align: center;
   text-shadow: 5px 5px 5px rgb(151, 149, 149);
}